body{
  background-color: lightgray;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;

}
#header
{
  width: 100%;
  height: auto;
  background-color:darkmagenta;
  color: lightgray;
  padding: 20px;
}
#header h1
{
  text-align: center;
}
#header #nav a
{
  text-decoration: none;
  color: lightgray;
  float: left;
  width: 120px;
}
#header #nav a:hover
{
  color: white;
}
#main
{
  width: 80%;
  margin: auto;
  background-color: white;
  min-height: 500px;
  padding: 20px;
  margin-top: 20PX;
  box-shadow: 5px -5px 5px gray;
}
#main table
{
  text-align: justify;
  width: 80%;
  border: 2px solid orange;
}
#main table th
{
  background-color:pink;

}
#main #p
{
  text-decoration: none;
  color: red;
}
{
  text-decoration: none;
}
#main form
{
  width: 90%;
  border: 2px solid orange;
  padding: 20PX;
}
#main form input
{
  display: block;
  margin-top: 20px;
  margin-bottom: 20PX;
}
